@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply rounded-lg border border-stone-200 px-4 py-2 text-sm outline-none transition-all duration-300 placeholder:text-stone-400 focus:ring-1 focus:ring-blue-700 hover:focus:ring-blue-400 md:px-6 md:py-3;
}
:root {
  padding: 0;
  margin: 0;
}
body {
  background: #f3f4f6;
  width: 100%;
  height: 100%;
  font-family: 'Public Sans';
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
